<h1>Task一覧</h1>
<% if @tasks.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>ステータス</th>
      <th>Task内容</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% user = task.user %>
      <% if current_user == task.user %>
    <tr>
      <td><%= link_to task.id, task %></td>
      <td><%= task.status %></td>
      <td><%= task.contet %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>


<%= link_to '新規メッセージの投稿', new_task_path, class: "btn btn-primary" %>